@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CheeseMVC.styles.css" asp-append-version="true" />


<h1>@ViewBag.title</h1>

<form method="post" class="form-control">
   @foreach (var cheese in ViewBag.Cheeses)
   {
       <input type="checkbox" name = "cheeseIds" id="@cheese.Id" value="@cheese.Id"/>
       <label for="@cheese.Id" >@cheese.Name</label>
       <br />
   }
   
   <button type="submit" class="btn btn-danger">Remove selected cheese(s)</button>
</form>



<a class="btn btn-primary" asp-controller="Cheese" asp-action="Index">Cancelar</a>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
